<div id="Controller" ng-controller="ProjectController"></div>

<div class="ibox-content" id="ibox-content" ng-init="vm.getPaises(); vm.get_tipos_proyectos(); vm.get_tipos_planos();vm.getZonasComunes();" >
    <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
         <h2>Nuevo proyecto</h2>
        <ol class="breadcrumb">
            <li>
                <a href="javascript:;" ui-sref="app.home">Administrador de proyectos</a>
            </li>
            <li class="active">
                <strong>Nuevo</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
  
    <div id="vertical-timeline" class="dark-timeline">

        <div class="vertical-timeline-block">

            <div class="vertical-timeline-icon yellow-bg" title="Ingresar la información basica" ng-if="vm.proyecto_proccess.informacion_basica == 0">
                <i class="fa fa-question"></i>
            </div>

            <div class="vertical-timeline-icon navy-bg" title="Informacion Guardada" ng-if="vm.proyecto_proccess.informacion_basica == 1">
                <i class="fa fa-check"></i>
            </div>
            <div class="vertical-timeline-content" style="background-color: #FFF">
                <div class="row">
                    <div class="col-lg-12">
                        <small>Paso 1.</small>
                        <h2>Información Basica</h2> 
                    </div>
                </div>
                <div class="row">
                    <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.informacion_basica == 1" title="Informacion basica guardada"></div>
                    <div class="col-lg-3">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar logo</span>
                                <span class="fileinput-exists">Cambiar</span><input type="file" uploader-model="vm.Project.logo" name="images" id="files" /></span>
                        </div><br>
                        <small>Recomendación: imagen cuadrada de 400px X 400px formato png</small>

                        <div id="image_logo" class="animated bounceIn content-image" style="width: 170px;height: 170px !important;">
                            <div class="row">
                                <div class="col-lg-12" style="text-align: center;">
                                    <i class="fa fa-image ico-bg" style="font-size: 70px;margin-top: 50px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Nombre del proyecto:</label> 
                            <input type="text" placeholder="Ingresar nombre" ng-model="vm.Project.nombre"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Tipo:</label> 
                            <select class="form-control" ng-model="vm.Project.tipo_proyecto" style="width: 80%">
                                <option ng-repeat="i in vm.tipos_proyectos" value="{{i.id}}">{{i.nombre}}</option>
                            </select>
                            <a href="javascript:;" class="pull-right" style="margin-top:-30px" title="Agregar nuevo tipo de proyecto" onclick="$('#modal_project').modal('show');"><i class="fa fa-plus-circle icon" style="font-size: 24px;"> </i></a>
                        </div>
                        <div class="form-group">
                            <label>Año:</label> 
                            <input type="number" placeholder="Ingresar año" ng-model="vm.Project.anio" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Dirección:</label> 
                            <input type="text" placeholder="Ingresar direccion" ng-model="vm.Project.direccion" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>País:</label>
                            <select class="form-control" ng-model="vm.Project.pais" ng-change="vm.getDepartamentos()">
                                <option ng-repeat="i in vm.paises" value="{{i.id}}" >{{i.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Departamento:</label>
                            <select class="form-control" ng-model="vm.Project.departamento" ng-change="vm.getMunicipios()">
                                <option ng-repeat="i in vm.departamentos" value="{{i.iddepartamento}}">{{i.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Municipio:</label>
                            <select class="form-control" ng-model="vm.Project.municipio">
                                <option ng-repeat="i in vm.municipios" value="{{i.idmunicipio}}">{{i.nombreMunicipio}}</option>
                            </select>
                        </div> 


                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Descripción:</label> 
                            <textarea placeholder="Ingresar descripción" class="form-control" rows="5" ng-model="vm.Project.descripcion"></textarea>
                        </div>
                        <label>Cargar brochure:</label> 
                        <input type="file" uploader-model="vm.Project.brochure">
                        <div class="spacer" style="height: 20px;"></div>
                        <button class="btn btn-primary pull-right" ng-click="vm.save_information_basic();" id="guardar"><i class="fa fa-upload"></i> Crear proyecto</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon yellow-bg" title="Ingresar imagen publicitaria" ng-if="vm.proyecto_proccess.banner == 0">
                <i class="fa fa-question"></i>
            </div>
            <div class="vertical-timeline-icon navy-bg" title="Imagen Guardada" ng-if="vm.proyecto_proccess.banner == 1">
                <i class="fa fa-check"></i>
            </div>
            <div class="vertical-timeline-content" style="background-color: #FFF">
                <div class="row">
                    <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.informacion_basica == 0" ></div>
                    <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.banner == 1" title="Banner guardardo"></div>
                    <div class="col-lg-8">
                        <small>Paso 2.</small>
                        <h2 style="margin-bottom: 0;padding: 0">Banner publicitario</h2>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar banner</span>
                                <span class="fileinput-exists">Cambiar</span><input type="file" uploader-model="vm.Project.banner" name="images" id="files_banner" /></span>
                        </div><br>
                        <small>Recomendación: imagen con buena resolución, recomendada 1700px X 780px</small>
                        <div class="spacer" style="height: 10px;"></div>

                        <div id="image_banner" class="content-image">
                            <div class="row">
                                <div class="col-lg-12" style="text-align: center;">
                                    <i class="fa fa-image ico-bg" style="margin-top:130px;"></i>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-4" style="padding-top: 115px;">
                         <div class="form-group">
                            <label>Titulo de banner:</label> 
                            <input type="text" placeholder="Ingresar titulo" ng-model="vm.Project.titulo_banner"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Descripción de banner:</label> 
                            <textarea placeholder="Ingresar una descripción simple." class="form-control" rows="5" ng-model="vm.Project.descripcion_banner"></textarea>
                        </div>
                        <div class="spacer" style="height: 10px;"></div>
                        <button class="btn btn-primary pull-right" ng-click="vm.save_banner();" id="guardar_banner"><i class="fa fa-upload"></i> Guardar banner</button>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon yellow-bg" title="Ingresar galeria de imagenes" ng-if="vm.proyecto_proccess.galeria == 0">
                <i class="fa fa-question"></i>
            </div>
            <div class="vertical-timeline-icon navy-bg" title="Imagenes guardadas" ng-if="vm.proyecto_proccess.galeria == 1">
                <i class="fa fa-check"></i>
            </div>
            <div class="vertical-timeline-content" style="background-color: #FFF">
                <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.banner == 0" ></div>
                <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.galeria == 1" title="Galeria terminada" ></div>
                <div class="row">
                    <div class="col-lg-12">
                        <small>Paso 3.</small>
                        <h2 style="margin-bottom: 0;padding: 0">Galeria de imagenes</h2>
                        <small>Arrastra la imagen o haz clic aquí Recomendación: imagen con buena resolución, recomendada 1700px X 780px </small>
                        <div class="spacer" style="height: 10px;"></div>
                    </div>
                    <div class="col-lg-2">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar imagenes</span>
                                <span class="fileinput-exists">Cambiar</span><input type="file" custom-on-change="save_galeria"  name="images" id="files_galeria"/></span>
                        </div>
                       
                        <div id="image_galeria" class="animated bounceIn content-image" style="width: 170px;height: 170px !important;">
                            <div class="row">
                                <div class="col-lg-12" style="text-align: center;">
                                    <i class="fa fa-image ico-bg" style="font-size: 70px;margin-top: 50px;"></i>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div style="margin-top: 40px;">
                            <div  ng-repeat="i in vm.galeria" style="float: left;margin-left:5px;margin-top: 5px;">
                                <div class="content-image" style="border:0px;width: 120px; height: 120px;">
                                    <a href="javascript:;" ng-click="vm.delete_galeria(i)"  style="position: absolute;right:5px;top:5px;" title="Eliminar imagen"><i class="fa fa-times-circle text-danger" style="font-size:16px;"></i></a>
                                    <img src="{{i.galeria_url}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer" style="height: 10px;"></div>
                <button class="btn btn-primary pull-right" ng-click="vm.finish_proccess('galeria');" id="guardar_galeria"><i class="fa fa-upload"></i> Proceso terminado</button>
            </div>
        </div>

        <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon yellow-bg" title="Ingresar planos de viviendas" ng-if="vm.proyecto_proccess.planos == 0">
                <i class="fa fa-question"></i>
            </div>
            <div class="vertical-timeline-icon navy-bg" title="Planos de viviendas guardados" ng-if="vm.proyecto_proccess.planos == 1">
                <i class="fa fa-check"></i>
            </div>
            <div class="vertical-timeline-content" style="background-color: #FFF">
                <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.galeria == 0" ></div>
                <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.planos == 1" ></div>
                <div class="row">
                    <div class="col-lg-12">
                        <small>Paso 4.</small>
                        <h2 style="margin-bottom: 0;padding: 0">Planos de viviendas</h2>
                    </div>
                    <div class="col-lg-8">
                        <table style="width: 90%">
                            <tr>
                                <td style="width:240px;" valign="top">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar Imagen</span>
                                            <span class="fileinput-exists">Cambiar</span><input type="file" uploader-model="vm.Plano.image" name="images" id="files_plano" /></span>
                                    </div><br>
                                    <small>Recomendación: imagen cuadrada de <br>700px X 600px formato png</small>

                                    <div id="image_plano" class="animated bounceIn content-image" style="width:240px;height:240px!important;">
                                        <div class="row">
                                            <div class="col-lg-12" style="text-align: center;">
                                                <i class="fa fa-image ico-bg" style="font-size: 100px;margin-top: 80px"></i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div style="margin-left: 20px;margin-top: 30px;">
                                        <div class="form-group">
                                            <label>Titulo:</label> 
                                            <input type="text" placeholder="Ingresar titulo" ng-model="vm.Plano.titulo"  class="form-control">

                                        </div>
                                        <div class="form-group">
                                            <label>Tipo:</label> 
                                            <select class="form-control" ng-model="vm.Plano.tipo_plano" style="width: 80%;">
                                                <option ng-repeat="i in vm.tipos_planos" value="{{i.id}}">{{i.nombre}}</option>
                                            </select>
                                            <a href="javascript:;" class="pull-right" style="margin-top:-30px" title="Agregar nuevo tipo de plano" onclick="$('#modal_plane').modal('show');"><i class="fa fa-plus-circle icon" style="font-size: 24px;"> </i></a>
                                        </div>
                                        <div class="form-group">
                                             <label>Desde:</label> 
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">$</span>
                                            <input type="number" placeholder="Ingresar valor" ng-model="vm.Plano.desde"  class="form-control">
                                        </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Área balcón:</label><small>escribir valor en metros cuadrados, si no tiene escribir 0</small> 
                                        <div class="input-group m-b">
                                            <input type="number" placeholder="Ingresar valor" ng-model="vm.Plano.area_balcon"  class="form-control">
                                            <span class="input-group-addon">M<sup>2</sup></span>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                             <label>Área construida:</label> <small>escribir valor en metros cuadrados</small> 
                                        <div class="input-group m-b">
                                            <input type="number" placeholder="Ingresar valor" ng-model="vm.Plano.area_construida"  class="form-control">
                                            <span class="input-group-addon">M<sup>2</sup></span>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                             <label>Área privada:</label> <small>escribir valor en metros cuadrados</small> 
                                        <div class="input-group m-b">
                                            <input type="number" placeholder="Ingresar valor" ng-model="vm.Plano.area_privada"  class="form-control">
                                            <span class="input-group-addon">M<sup>2</sup></span>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Estrato:</label> 
                                            <input type="number" placeholder="Ingresar valor" ng-model="vm.Plano.estrato"  class="form-control">
                                        </div>
                                        <div class="spacer" style="height: 10px;"></div>
                                        <button class="btn btn-primary pull-right" ng-click="vm.save_plane();" id="guardar_plano"><i class="fa fa-plus-circle"></i> Guardar plano</button>            
                                    </div>
                                </td>
                            </tr></table>


                    </div>
                    <div class="col-lg-4">
                        <h3>Planos agregados</h3>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <th>#</th>
                            <th>titulo</th>
                            <th>tipo</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="i in vm.planos">
                                    <td>{{$index + 1}}</td>
                                    <td>{{i.titulo}}</td>
                                    <td>{{i.nombreTipoPlano}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="vm.planos.length == 0">
                            <h5>No hay planos agregados...</h5>
                        </div>
                        <div class="spacer" style="height:40px;"></div>
                        <button class="btn btn-primary pull-right" ng-click="vm.finish_proccess('planos');" id=""><i class="fa fa-upload"></i> Proceso finalizado</button>       
                    </div>
                </div>
            </div>
        </div>

        <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon yellow-bg" title="Ingresar ubicación geografica" ng-if="vm.proyecto_proccess.ubicacion_geografica == 0">
                <i class="fa fa-question"></i>
            </div>
            <div class="vertical-timeline-icon navy-bg" title="Guardada ubicación geografica" ng-if="vm.proyecto_proccess.ubicacion_geografica == 1">
                <i class="fa fa-check"></i>
            </div>
            <div class="vertical-timeline-content" style="background-color: #FFF">
                <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.planos == 0" ></div>
                <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.ubicacion_geografica == 1" ></div>
                <div class="row">
                    <div class="col-lg-12">
                        <small>Paso 5.</small>
                        <h2>Ubicación Geografica</h2>
                        <small>Haga click sobre la ubicación exacta donde se realizará el proyecto.</small>
                        <div id="map" style="height: 400px;"><div class="jvectormap-container" style="background-color: transparent;">

                            </div>
                        </div>
                        <div class="spacer" style="height: 10px;"></div>
                        <button class="btn btn-primary pull-right" ng-click="vm.save_position();" id="guardar_ubicacion"><i class="fa fa-upload"></i> Guardar ubicación</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon yellow-bg" title="Ingresar zonas comunes" ng-if="vm.proyecto_proccess.zonas_comunes == 0">
                <i class="fa fa-question"></i>
            </div>
            <div class="vertical-timeline-icon navy-bg" title="Guardadas zonas comunes" ng-if="vm.proyecto_proccess.zonas_comunes == 1">
                <i class="fa fa-check"></i>
            </div>
            <div class="vertical-timeline-content" style="background-color: #FFF">
                <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.ubicacion_geografica == 0" ></div>
                <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.zonas_comunes == 1" ></div>
                <div class="row">
                    <div class="col-lg-12">
                        <small>Paso 6.</small>
                        <h2>Zonas Comunes</h2>
                        <div class="row">
                            <div class="box1 col-md-12">    
                                    <select multiple="multiple" size="10" name="duallistbox_demo1[]" id="zones">

                                    </select>
                                    <br>
                                    <button  class="btn btn-primary" ng-click="vm.save_zonas_comunes();" id="guardar_zonas"><i class="fa fa-upload"></i> Guardar zonas comunes</button>
                             </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
         <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon yellow-bg" title="Ingresar zonas comunes" ng-if="vm.proyecto_proccess.aviso_legal == 0">
                <i class="fa fa-question"></i>
            </div>
            <div class="vertical-timeline-icon navy-bg" title="Guardadas zonas comunes" ng-if="vm.proyecto_proccess.aviso_legal == 1">
                <i class="fa fa-check"></i>
            </div>
            <div class="vertical-timeline-content" style="background-color: #FFF">
                <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.zonas_comunes == 0" ></div>
                <div class="overlay animated fadeIn" ng-if="vm.proyecto_proccess.aviso_legal == 1" ></div>
                <div class="row">
                    <div class="col-lg-12">
                        <small>Paso 7.</small>
                        <h2>Aviso Legal</h2>
                        <div class="row">
                            <div class="col-md-12">    
                                <textarea class="form-control" ng-model="vm.Project.aviso" rows="5"></textarea>
                                    <br>
                                    <button  class="btn btn-primary" ng-click="vm.save_aviso_legal();" id="guardar_aviso"><i class="fa fa-upload"></i> Guardar aviso legal</button>
                             </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal inmodal" id="modal_project" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Tipo de proyecto</h4>
            </div>
            <div class="modal-body">
                <div class="form-group"><label>Nombre</label> 
                    <input type="text" placeholder="Ingresar tipo de proyecto" class="form-control" ng-model="vm.type_project.nombre">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="vm.save_type_project();">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modal_plane" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Tipo de planos</h4>
            </div>
            <div class="modal-body">
                <div class="form-group"><label>Nombre</label> 
                    <input type="text" placeholder="Ingresar tipo de plano" class="form-control" ng-model="vm.type_plane.nombre">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="vm.save_type_plane();">Guardar</button>
            </div>
        </div>
    </div>
</div>



