<div class="banner compromiso" style="width: 100%;margin-left: 0;height:500px;" ng-init="vm.leerCompromisos();">
    <div class="container-banner-2">
        <h1 class="animated bounceInDown">COMPROMETIDOS CON LA SOCIEDAD</h1>
    </div>
</div>

<div class="spacer" style="height:100px;" ></div>
<section  class="container features" >
    <div class="spacer" style="height:60px;" ></div>
    <div ng-repeat="i in vm.compromises">
    <div class="row" ng-if="vm.par($index);">
        <div class="col-md-5 col-md-offset-1 text-center wow fadeInLeft cont-img">
            <img src="{{i.url}}" class="img-responsive"/>
        </div>
        <div class="col-md-5 text-left  wow fadeInRight content-compromiso" style='border-right: 2px solid #1b7033;'>
            <p> {{i.descripcion}}</p>
        </div>
    </div>
     <div class="row" ng-if="vm.impar($index);">
        
        <div class="col-md-5 col-md-offset-1 text-center  wow fadeInLeft content-compromiso" style='border-left: 2px solid #1b7033;'>
             <p> {{i.descripcion}}</p>
        </div>
         <div class="col-md-5 text-center wow fadeInRight cont-img">
             <img src="{{i.url}}"/>
        </div>
    </div>
        <div class="spacer" style="height:80px;" ></div>
    </div>
</section>
<div class="spacer" style="height:100px;" ></div>
