<div class="banner compromiso" style="width: 100%;margin-left: 0;height:500px;margin-top: 80px;" ng-init="vm.leerCompromisos();">
    <div class="container-banner-2">
        <h1 class="animated bounceInDown">COMPROMETIDOS CON LA SOCIEDAD</h1>
    </div>
</div>
<div ng-if="vm.mobile">
    <div class="spacer" style="height:20px;" ></div>
<section  class="container features" >
    <div class="spacer" style="height:60px;" ></div>
     <div ng-if="vm.compromises.length > 0 ">
    <div ng-repeat="i in vm.compromises">
    <div class="row">
        <div class="col-md-5 col-md-offset-1 text-center wow fadeInLeft cont-img">
            <img src="{{i.url}}" class="img-responsive"/>
        </div>
        <div class="col-md-5 text-left  wow fadeInRight"  style="padding-right: 20px;">
            <div class='content-compromiso'>
            <p> {{i.descripcion}}</p>
            </div>
        </div>
    </div>
        <div class="spacer" style="height:20px;" ></div>
    </div>
     </div>
    <div ng-if="vm.compromises.length == 0 " class="vacio banner wow bounceIn">
        <img src="img/crane.svg" style="width:30%">
        <div class="spacer" style="height:20px;" ></div>
        <h1>Pronto te mostraremos<br> informacion de nuestro compromiso social</h1>
    </div>
    
</section>
<div class="spacer" style="height:20px;" ></div>
</div>
<div ng-if="!vm.mobile">
<div class="spacer" style="height:100px;" ></div>
<section  class="container features" >
    <div class="spacer" style="height:60px;" ></div>
     <div ng-if="vm.compromises.length > 0 ">
    <div ng-repeat="i in vm.compromises">
    <div class="row" ng-if="vm.par($index);">
        <div class="col-md-5 col-md-offset-1 text-center wow fadeInLeft cont-img">
            <img src="{{i.url}}" class="img-responsive"/>
        </div>
        <div class="col-md-5 text-left  wow fadeInRight"  style="padding-right: 20px;">
            <div class='content-compromiso' style='border-right: 2px solid #1b7033;padding-right: 20px;'>
            <p> {{i.descripcion}}</p>
            </div>
        </div>
    </div>
     <div class="row" ng-if="vm.impar($index);">
        
        <div class="col-md-5 col-md-offset-1 text-center  wow fadeInLeft" style="padding-left: 20px;">
              <div class='content-compromiso'  style='border-left: 2px solid #1b7033;padding-left: 20px;'>
             <p> {{i.descripcion}}</p>
            </div>
        </div>
         <div class="col-md-5 text-center wow fadeInRight cont-img">
             <img src="{{i.url}}"/>
        </div>
    </div>
        
        <div class="spacer" style="height:80px;" ></div>
    </div>
     </div>
    <div ng-if="vm.compromises.length == 0 " class="vacio banner wow bounceIn">
        <img src="img/crane.svg" style="width:30%">
        <div class="spacer" style="height:20px;" ></div>
        <h1>Pronto te mostraremos<br> informacion de nuestro compromiso social</h1>
    </div>
    
</section>
<div class="spacer" style="height:100px;" ></div>
</div>
