
<div class="banner"  ng-init="vm.leerBanners();">
    <div ng-if="vm.banners == 'NULL'" class="vacio banner wow bounceIn">
        <div class="spacer" style="height:31    0px;" ></div>
        <img src="img/vacio.svg" style="width: 30%">
        <h1>Muy pronto publicaremos contenido</h1>
    </div>
    <div class="flexslider animated bounceInLeft" ng-if="vm.banners.length > 0 && vm.banners !== 'NULL'">
        <ul class="slides" style="text-align: center;">
            <li ng-repeat="i in vm.banners" id="sl">
                <div class="container-banner animated bounceIn" style="display: none;">
                  {{vm.centrar()}}
                    <h1>{{i.banner.titulo}}</h1>  
                    <h3>{{i.banner.descripcion}}</h3>
                </div>
                <img src="{{i.banner.banner_url}}" />

                <div class="footer-banner">
                    <div class="row">
                        <div class="col-md-10 col-lg-10 col-xs-12">
                            <div class="content-descripcion">
                                {{i.informacion_basica.descripcion}}
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-12 btn-verProyecto">
                            <button class="btn btn-warning" style="margin-top: 3px;" ng-click="vm.verProyecto(i)">VER PROYECTO</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<section id="features" class="container services" style="text-align: center">
    <div ng-if="!vm.mobile">
        <div class="row">
            <div class="col-sm-4 content-parrafo" >
                <img src="img/home/estructuracion.png" alt="" class="img-features wow bounceIn"/>
                <h2>ESTRUCTURACIÓN</h2>
                <p>Conceptualizamos y diseñamos proyectos inmobiliarios que respondan a las necesidades de nuestros clientes y del mercado.</p>
                <!--p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>-->
            </div>
            <div class="col-sm-4 content-parrafo">
                <img src="img/home/gerencia.png" alt=""  class="img-features wow bounceIn"/>
                <h2>GERENCIA</h2>
                <p>Gerenciamos proyectos en diferentes sectores como vivienda, VIS, comercial y hotelero.<br><br></p>
                <!--p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>-->
            </div>
            <div class="col-sm-4 content-parrafo" style="border:0">
                <img src="img/home/proyectos.png" alt="" class="img-features wow bounceIn"/>
                <h2>VENTA DE PROYECTOS INMOBILIARIOS</h2>
                <p>Desarrollamos estrategias de comercialización para nuestros proyectos asegurandonos del éxito durante el proceso de venta.</p>
                <!--p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>-->
            </div>
        </div>
    </div>
    <div ng-if="vm.mobile">
        <div class="flexslider-parrafo">
            <ul class="slides flex-box" style="text-align: center;">
                <li>
                    <div class="content-parrafo">
                        <img src="img/home/estructuracion.png" alt="" class="img-features wow bounceIn"/>
                        <h2>ESTRUCTURACIÓN</h2>
                        <p>Conceptualizamos y diseñamos proyectos inmobiliarios que respondan a las necesidades de nuestros clientes y del mercado.</p>
                    </div>
                </li>
                <li>
                    <div class="content-parrafo">
                        <img src="img/home/gerencia.png" alt=""  class="img-features wow bounceIn"/>
                        <h2>GERENCIA</h2>
                        <p>Gerenciamos proyectos en diferentes sectores como vivienda, VIS, comercial y hotelero.<br><br></p>
                    </div>
                </li>

                <li>
                    <div class="content-parrafo">
                        <img src="img/home/proyectos.png" alt="" class="img-features wow bounceIn"/>
                        <h2>VENTA DE PROYECTOS INMOBILIARIOS</h2>
                        <p>Desarrollamos estrategias de comercialización para nuestros proyectos asegurandonos del éxito durante el proceso de venta.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<div ng-if="!vm.mobile">
    <div class="spacer" style="height:80px;" ></div>
</div>
<div ng-if="vm.mobile">
    <div class='spacer'style='height:40px;'></div>
</div>
<section  class="container features" >
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>NUESTROS PROYECTOS DESTACADOS</h1>
        </div>
    </div>
    <div ng-if="!vm.mobile">
        <div class="spacer" style="height:60px;" ></div>
    </div>
    <div ng-if="vm.mobile">
        <div class='spacer'style='height:20px;'></div>
    </div>
    <div ng-if="vm.projects == 'NULL'" class="vacio banner wow bounceIn">
        <img src="img/crane.svg" style="width:30%">
        <div class="spacer" style="height:20px;" ></div>
        <h1>Pronto te mostraremos<br> nuestros proyectos destacados</h1>
    </div>


    <div ng-if="vm.projects.length > 0 && vm.projects !== 'NULL'">
        <div ng-if="vm.mobile">
            <div ng-repeat="i in vm.projects">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1 col-xs-12 text-center wow fadeInLeft" style="height:auto;" id="img-destacado-{{$index}}">
                        <div ng-if="i.banner.destacado_url == ''">
                            <img src="img/picture.svg" style="width: 50%;margin-top: 10%">
                        </div>
                        <img src="{{i.banner.destacado_url}}" style="width: 100%" ng-if="i.banner.destacado_url !== ''">
                        <!--{{vm.construir_imagen(i.banner.destacado_url, $index);}}-->
                    </div>
                    <div class="col-md-5 text-center  col-xs-12 wow fadeInRight">
                        <div class="content-destacado" style="padding-right: 20px;margin-top: 10px;">
                            <div style='text-align: left'>
                                <h4 style="font-weight: 900">{{i.informacion_basica.nombre}}</h4>
                                <span>{{i.informacion_basica.nombreTipoProyecto}}</span><br>
                                <span>{{i.informacion_basica.direccion}}</span><br>
                                <span>{{i.informacion_basica.nombreMunicipio}}, {{i.informacion_basica.anio}}</span>
                            </div>
                            <div class='spacer' style='height:10px;'></div>
                            <p>
                                {{i.informacion_basica.descripcion}}
                            </p>
                            <button class="btn btn-warning" style='font-size: 18px;' ng-click="vm.verProyecto(i)">VER PROYECTO</button>
                        </div>
                    </div>
                </div>
                <div class="spacer" style="height:30px;" ></div>
            </div>
        </div>
        <div ng-if="!vm.mobile">
            <div ng-repeat="i in vm.projects">
                <div class="row" ng-if="vm.par($index);">
                    <div class="col-md-5 col-md-offset-1 text-center wow fadeInLeft" style="height: 400px;" id="img-destacado-{{$index}}">
                        <div ng-if="i.banner.destacado_url == ''">
                            <img src="img/picture.svg" style="width: 50%;margin-top: 10%">
                        </div>
                        <img src="{{i.banner.destacado_url}}" style="width: 100%" ng-if="i.banner.destacado_url !== ''">
                        <!--{{vm.construir_imagen(i.banner.destacado_url, $index);}}-->
                    </div>
                    <div class="col-md-5 text-center  wow fadeInRight" style="padding-left: 20px;">
                        <div class="content-destacado c-right" style="padding-right: 20px;">
                            <div style='text-align: left'>
                                <h4 style="font-weight: 900">{{i.informacion_basica.nombre}}</h4>
                                <span>{{i.informacion_basica.nombreTipoProyecto}}</span><br>
                                <span>{{i.informacion_basica.direccion}}</span><br>
                                <span>{{i.informacion_basica.nombreMunicipio}}, {{i.informacion_basica.anio}}</span>
                            </div>
                            <div class='spacer' style='height:10px;'></div>
                            <p>
                                {{i.informacion_basica.descripcion}}
                            </p>
                            <button class="btn btn-warning" style='font-size: 18px;' ng-click="vm.verProyecto(i)">VER PROYECTO</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.impar($index);">
                    <div class="col-md-5 col-md-offset-1 text-center  wow fadeInLeft" style="padding-right: 20px;">
                        <div class="content-destacado c-left" style="padding-left: 20px;">
                            <div style='text-align: left;'>
                                <h4 style="font-weight: 900">{{i.informacion_basica.nombre}}</h4>
                                <span>{{i.informacion_basica.nombreTipoProyecto}}</span><br>
                                <span>{{i.informacion_basica.direccion}}</span><br>
                                <span>{{i.informacion_basica.nombreMunicipio}}, {{i.informacion_basica.anio}}</span>
                            </div>
                            <div class='spacer' style='height:10px;'></div>
                            <p>
                                {{i.informacion_basica.descripcion}}
                            </p>
                            <button class="btn btn-warning" style='font-size: 18px;' ng-click="vm.verProyecto(i)">VER PROYECTO</button>
                        </div>
                    </div>
                    <div class="col-md-5 text-center wow fadeInRight" style="height: 400px;" id="img-destacado-{{$index}}">
                        <div ng-if="i.banner.destacado_url == ''">
                            <img src="img/picture.svg" style="width: 50%;margin-top: 10%">
                        </div>
                        <img src="{{i.banner.destacado_url}}" style="width: 100%" ng-if="i.banner.destacado_url !== ''">
                        <!--{{vm.construir_imagen(i.banner.destacado_url, $index);}}-->
                    </div>
                </div>
                <div class="spacer" style="height:100px;" ></div>
            </div>
        </div>
    </div>


</section>
<div class="spacer" style="height:20px;" ></div>











