<div class="banner nosotros" style="width: 100%;margin-left: 0;height:500px;">
    <div class="container-banner-2">
        <h1 class="animated bounceInDown">COMPROMETIDOS CON SU BIENESTAR</h1>
    </div>
</div>

<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                <div style="padding-top:15px;padding-left:50px">
                    <h2>NOSOTROS</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: justify;">El triangulo equilátero es una figura geométrica cuyos tres lados son exactamente iguales. En
                equilátero esa igualdad corresponde a las tres bases fundamentales de nuestra organización:
                nuestros clientes, nuestros socios y nuestro equipo humano.</p> 
        </div>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="row" style="text-align: center">
        <div class="col-md-4">
            <img src="img/nosotros/clientes.png" alt="" class="img-nosotros wow bounceIn"/>
            <p style="margin-top: 16px;font-size:16px !important;">
                Nuestros clientes son la razón del
                trabajo que realizamos día a día.
                Nos esforzamos por ofrecerles el
                mejor producto, adecuado a sus
                necesidades y competitivos en el
                mercado.
            </p>
        </div>
        <div class="col-md-4">
            <img src="img/nosotros/estrategias.png" alt="" class="img-nosotros wow bounceIn"/>
            <p style="margin-top: 16px;font-size:16px !important;">
                En equilátero buscamos los mejores
                aliados estratégicos de la
                industria (entidades financieras,
                constructores, proveedores, y
                otros) que complementen nuestro
                trabajo, para garantizar proyectos
                exitosos.
            </p>
        </div>
        <div class="col-md-4">
            <img src="img/nosotros/exito.png" alt="" class="img-nosotros wow bounceIn"/>
            <p style="margin-top: 16px;font-size:16px !important;">
                El éxito de equilátero reside en
                nuestro recurso humano. Buscamos
                personas con ética, compromiso y
                responsabilidad. Gracias a ellos
                hemos venido logrando las metas
                de crecimiento y desarrollo que nos
                hemos trazado.
            </p>
        </div>
    </div>
</div>


<div class="spacer" style="height: 20px;"></div>
<div class="nosotros-2" style="width: 100%;margin-left: 0;height:495px;padding-top:100px;">
    <div class="content-slider-nosotros wow bounceInRight">
    <div class="flexslider slider-nosotros" >
        <ul class="slides">
            <li>
                <h2>MISIÓN</h2>
                <h2 style="text-transform: lowercase">
                   Promovemos proyectos inmobiliarios rentables y con altos estándares
de calidad, que satisfagan las necesidades de nuestros clientes y
accionistas, estamos comprometidos con el crecimiento personal y
profesional de nuestro equipo humano y con la búsqueda de alianzas
estratégicas a largo plazo que contribuyan a la mejora continua. 
                </h2>
            </li>
            <li>
                  <h2>VISIÓN</h2>
                  <h2 style="text-transform: lowercase">
                      Convertirnos para el año 2020 en una empresa líder en estructuración,  promoción y gerencia de proyectos inmobiliarios de Bogotá reconocida por su calidad y cumplimiento, con la capacidad de reinventarse y ofrecer dinamismo con productos acorde a las necesidades de un mercado cambiante. 

Destacarnos en el sector por ofrecer proyectos sólidos, altamente rentables y con bajo riesgo, así mismo por nuestro compromiso con el medio ambiente y la mejora continua. 
                  </h2>
            </li>
        </ul>
    </div>
    </div>
</div>
<div class="spacer" style="height: 20px;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                <div style="padding-top:15px;padding-left:50px">
                    <h2>EXPERIENCIA</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: justify;">En PROMOTORA EQUILATERO S.A.S desde su inicio hemos buscado alianzas con socios estratégicos
                para garantizar proyectos exitosos con un alto impacto social y nos hemos concentrado
                en contar con un equipo humano responsable y altamente comprometido con la misión de la
                empresa, así mismo priorizamos las necesidades de los clientes y del mercado.
                Hemos participado en múltiples proyectos de viviendas, oficinas y hoteles lo cual nos ha impulsado
                a seguir creciendo y buscar cada día más oportunidades.</p>
            <div class="spacer" style="height: 10px;"></div>
            <p style="text-align: justify;">
                La gran experiencia que hemos adquirido en los últimos años nos convierte en una empresa altamente
                competitiva y reconocida, esto lo demuestran nuestros proyectos.</p> 
        </div>
    </div>

</div>





