<div style="margin-top: 140px" ng-init="vm.getProyectos();">
    <div class="container">

        <div class="row wow fadeIn">
            <div class="col-md-5 col-md-offset-1">
                <h2>SERVICIO AL CLIENTE</h2>
                <select class="form-control" ng-model="vm.mensaje.proyecto" style="color:#8e9091;font-family: 'MrEavesBold'">
                    <option value="" selected disabled>ELIJA UN PROYECTO</option>
                    <option ng-repeat ="i in vm.proyectos" value="{{i.informacion_basica.nombre}}">{{i.informacion_basica.nombre}}</option>
                </select>
                <input type="text" placeholder="NOMBRE COMPLETO" class="form-control" ng-model="vm.mensaje.nombre">
                <input type="number" placeholder="CÉDULA" class="form-control" ng-model="vm.mensaje.cedula">
                <input type="email" placeholder="E-MAIL" class="form-control" ng-model="vm.mensaje.email">
                <input type="number" placeholder="TELEFONO" class="form-control" ng-model="vm.mensaje.telefono">
                <select class="form-control" ng-model="vm.mensaje.tipoInmueble" style="color:#8e9091;font-family: 'MrEavesBold'">
                    <option value="" selected disabled>TIPO DE INMUEBLE</option>
                    <option>CASA</option>
                    <option>APARTAMENTO</option>
                    <option>OFICINA</option>
                    <option>ZONA COMÚN</option>
                    <option>NO SABE</option>
                </select>
                <select class="form-control" ng-model="vm.mensaje.tipoPostventa" style="color:#8e9091;font-family: 'MrEavesBold'">
                    <option value="" selected disabled>TIPO DE POSTVENTA</option>
                    <option>ENCHAPES</option>
                    <option>PINTURA </option>
                    <option>BAÑOS</option>
                    <option>FACHADAS</option>
                    <option>MARQUESINAS</option>
                    <option>HUMEDADES</option>
                    <option>VENTANERÍA</option>
                    <option>CARPINTERÍA </option>
                    <option>APARATOS </option>
                    <option>OTROS</option>
                </select>
            </div>
            <div class="col-md-5">
                <div class="spacer" style="height:46px;"></div>
                <textarea class="form-control" placeholder="COMENTARIOS" rows="17" ng-model="vm.mensaje.comentarios"></textarea>
                <div class="spacer" style="height:30px;"></div>
                <div style="text-align: center">
                    <button class="btn btn-warning" style="padding:10px 30px 10px 30px" ng-click="vm.enviar()">ENVIAR</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer" style="height: 250px;" id="relleno"></div>