<div style="margin-top: 140px">
    <div class="container">

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3 style="color:#1b7033;">POSTVENTAS</h3>
                <select class="form-control">
                    <option>ELIJA PROYECTO</option>
                </select>
                <input type="text" placeholder="NOMBRE COMPLETO" class="form-control">
                <input type="number" placeholder="CÉDULA" class="form-control">
                <input type="email" placeholder="E-MAIL" class="form-control">
                <input type="number" placeholder="TELEFONO" class="form-control">
                <select class="form-control">
                    <option>TIPO DE INMUEBLE</option>
                </select>
                <select class="form-control">
                    <option>TIPO DE POSTVENTA</option>
                </select>
            </div>
            <div class="col-md-5">
                <div class="spacer" style="height:20px;"></div>
                <textarea class="form-control" placeholder="COMENTARIOS" rows="18"></textarea>
                <div class="spacer" style="height:30px;"></div>
                <div style="text-align: center">
                    <button class="btn btn-warning" style="padding:10px 30px 10px 30px">ENVIAR</button>
                </div>
            </div>
        </div>
    </div>
</div>