

<div class="navbar-wrapper" ng-controller="templateController as vm" ng-init="vm.leerUser();">
        <nav id="cabecera" class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-radius: 0;">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:;"  ui-sref="app.home" style="padding-top: 10px;" ng-click="vm.to('page-top')">
                        <img src="img/logo.png" alt="" class="animated bounceIn" style="height:65px;margin-left:12%"/>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" style="padding-right:2.8%">
                    <ul class="nav navbar-nav navbar-right" >
                        <li id="1"><a class="page-scroll" id="home" href="javascript:;"  ui-sref="app.home" ng-click="vm.active(1)">INICIO</a></li>
                        <li id="2"><a class="page-scroll" id="features" href="javascript:;"   ui-sref="app.nosotros" ng-click="vm.active(2)">NOSOTROS</a></li>
                        <li id="3"><a class="page-scroll" id="features" href="javascript:;"   ui-sref="app.proyectos" ng-click="vm.active(3)">PROYECTOS</a></li>
                        <li id="4"><a class="page-scroll" id="testimonials" href="javascript:;"  ui-sref="app.postventas" ng-click="vm.active(4)">POSTVENTAS</a></li>
                        <li id="5"><a class="page-scroll" id="pricing" href="javascript:;"  ui-sref="app.compromiso" ng-click="vm.active(5)">COMPRIMISO SOCIAL</a></li>
                        <li class="animated bounceInRight">
                            <span style="position: absolute;right:0px;top:10px;"><p style="color:#1B7033 !important;font-size:16px !important;">{{vm.user.email}}</p></span>
                            <div class="cont-phone">
                                {{vm.user.telefono}}
                            </div>
                            <div class="cont-btn"  ng-click="vm.to('contact')">
                                CONTACTO
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>
</div>

 

<div ui-view="">
</div>

<section id="contact" class="contact" ng-controller="templateController as vm" ng-init="vm.leerUser();">
    <div class="container">
        <div class="row">
            <div class='col-md-5 col-md-offset-1 wow bounceInLeft'>
                <h1>CONTÁCTANOS</h1>
                <input type='email' class='input-contact' placeholder="E-Mail" ng-model="vm.contacto.email">
                <textarea class='input-contact' placeholder="Escríbenos un mensaje" ng-model="vm.contacto.mensaje" rows="4" style="margin-top: 20px;"></textarea>
            
                <div style="text-align: center;margin-top:20px;">
                    <button class='btn-contact' ng-click=" vm.contacto();">
                    ENVIAR
                </button>
                </div>
                
            </div>
            <div class='col-md-5 contact-info wow bounceIn'>
                <div  style="margin-top:50px;">
                <a href="javascript:;">Términos y condiciones</a>
                <hr>
                <a href="javascript:;"> {{vm.user.email}}</a>
                <a href="javascript:;">LLAMANOS:  {{vm.user.telefono}}</a>
                <a href="javascript:;"> {{vm.user.direccion}}</a>
                    <div class="row">
                        <div  style="margin-top:20px;">
                        <div class="col-xs-2">
                            <i class="fa fa-twitter ico-social"></i>
                        </div>
                        <div class="col-xs-2">
                            <i class="fa fa-whatsapp ico-social"></i>
                        </div>
                        <div class="col-xs-1">
                            <i class="fa fa-facebook ico-social"></i>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-t-lg m-b-lg" style="text-align: right">
                <span style="color:#FFF !important"><strong>&copy; 2017 Equilatero</strong></span>
            </div>
        </div>
    </div>
</section>

