

<div class="navbar-wrapper">
        <nav id="cabecera" class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-radius: 0;">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:;" style="padding-top: 10px;">
                        <img src="img/logo.png" alt="" style="height:65px;margin-left:12%"/>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" style="padding-right:2.8%">
                    <ul class="nav navbar-nav navbar-right" >
                        <li><a class="page-scroll" id="home" href="javascript:;"  ui-sref="app.home">INICIO</a></li>
                        <li><a class="page-scroll" id="features" href="javascript:;"   ui-sref="app.nosotros">NOSOTROS</a></li>
                        <li><a class="page-scroll" id="team" href="javascript:;"  ui-sref="app.proyectos">PROYECTOS</a></li>
                        <li><a class="page-scroll" id="testimonials" href="javascript:;"  ui-sref="app.postventas">POSTVENTAS</a></li>
                        <li><a class="page-scroll" id="pricing" href="javascript:;"  ui-sref="app.compromiso">COMPRIMISO SOCIAL</a></li>
                        <li>
                            <!--contacto@equilatero.com-->
                            <div class="cont-phone">
                                +57 (1) 401 3636
                            </div>
                            <div class="cont-btn">
                                CONTACTO
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>
</div>

 

<div ui-view="">
</div>

<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class='col-lg-5 col-lg-offset-1'>
                <h1>CONTÁCTANOS</h1>
                <input type='email' class='input-contact' placeholder="E-Mail">
                <textarea class='input-contact' placeholder="Escríbenos un mensaje" rows="4" style="margin-top: 20px;"></textarea>
            
                <div style="text-align: center;margin-top:20px;">
                    <button class='btn-contact'>
                    ENVIAR
                </button>
                </div>
                
            </div>
            <div class='col-lg-5 contact-info'>
                <div  style="margin-top:50px;">
                <a href="javascript:;">Términos y condiciones</a>
                <a href="javascript:;">Política de privacidad</a>
                <a href="javascript:;">Soporte</a>
                <hr>
                <a href="javascript:;">contacto@equilatero.com</a>
                <a href="javascript:;">LLAMANOS: + 57 (1) 401 3636</a>
                <a href="javascript:;">cALLE 67 N° 4A - 67 Bogotá, colombia</a>
                    <div class="row">
                        <div  style="margin-top:20px;">
                        <div class="col-xs-2">
                            <i class="fa fa-twitter ico-social"></i>
                        </div>
                        <div class="col-xs-2">
                            <i class="fa fa-whatsapp ico-social"></i>
                        </div>
                        <div class="col-xs-1">
                            <i class="fa fa-facebook ico-social"></i>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-t-lg m-b-lg" style="text-align: right">
                <p style="color:#FFF"><strong>&copy; 2017 Equilatero</strong></p>
            </div>
        </div>
    </div>
</section>
