

<div class="navbar-wrapper" ng-controller="templateController as vm" ng-init="vm.leerUser();">
        <nav id="cabecera" class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-radius: 0;">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:;"  ui-sref="app.home" style="padding-top: 10px;" ng-click="vm.to('page-top')">
                        <img src="img/logo.png" alt="" class="animated bounceIn" id="logo" />
                    </a>
                    
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" >
                        <li id="1"><a class="page-scroll" id="home" href="javascript:;"  ui-sref="app.home" ng-click="vm.active(1)">INICIO</a></li>
                        <li id="2"><a class="page-scroll" id="features" href="javascript:;"   ui-sref="app.nosotros" ng-click="vm.active(2)">NOSOTROS</a></li>
                        <li id="3"><a class="page-scroll" id="features" href="javascript:;"   ui-sref="app.proyectos" ng-click="vm.active(3)">PROYECTOS</a></li>
                        <li id="4"><a class="page-scroll" id="testimonials" href="javascript:;"  ui-sref="app.postventas" ng-click="vm.active(4)">SERVICIO AL CLIENTE</a></li>
                        <li id="5"><a class="page-scroll" id="pricing" href="javascript:;"  ui-sref="app.compromiso" ng-click="vm.active(5)">COMPROMISO SOCIAL</a></li>
                        <li ng-if="!vm.mobile" style="margin-top: 5px;">
                                <table>
                                    <tr>
                                        <td colspan="2" class="email"><p style="color:#1B7033 !important;font-size:16px !important;">{{vm.user.email}}</p></td>
                                    </tr>
                                    <tr>
                                        <td class="cont-phone" style="width: 50%;text-align: right">{{vm.user.telefono}}</td>
                                        <td class="cont-btn" style="width: 50%;"  ng-click="vm.to('contact')"> CONTACTO</td>
                                    </tr>
                                </table>
                        </li>
                    </ul>
                     <div  ng-if="vm.mobile" class="content-contacto"> 
                             <table style="width:95%;margin-left:2.5%">
                                    <tr>
                                        <td colspan="2" class="email"><p style="color:#1B7033 !important;font-size:16px !important;">{{vm.user.email}}</p></td>
                                    </tr>
                                    <tr>
                                        <td class="cont-phone" style="width: 50%;text-align: right">{{vm.user.telefono}}</td>
                                        <td class="cont-btn"  style="width: 50%;" ng-click="vm.to('contact')"> CONTACTO</td>
                                    </tr>
                                </table>
                        </div>
                </div>
           
        </nav>
</div>

 
 
<div ui-view="">
</div>

<section id="contact" class="contact" ng-controller="templateController as vm" ng-init="vm.leerUser();">
    <div class="container">
        <div class="row">
            <div class='col-md-5 col-md-offset-1 wow bounceInLeft' style="">
                <h1>CONTÁCTANOS</h1>
                <input type='email' class='input-contact' placeholder="E-Mail" ng-model="vm.contacto.email">
                <textarea class='input-contact' placeholder="Escríbenos un mensaje" ng-model="vm.contacto.mensaje" rows="4" style="margin-top: 20px;"></textarea>
            
                <div style="text-align: center;margin-top:20px;width: 100%">
                  <button class='btn-contact' ng-click=" vm.contactoPost();">
                    ENVIAR
                </button>
                </div>
                
            </div>
            <div class='col-md-5 contact-info wow bounceIn'>
                <div  style="margin-top:50px;">
                <a href="javascript:;" ui-sref="app.terminos">Términos y condiciones</a>
                <hr style="margin-top:5px">
                <a href="javascript:;"> {{vm.user.email}}</a>
                <a href="javascript:;">LLAMANOS:  {{vm.user.telefono}}</a>
                <a href="javascript:;"> {{vm.user.direccion}}</a>
                    <div class="row">
                        <div  style="margin-top:20px;">
                        <div style="float: left;margin-left:20px">
                            <a href="https://twitter.com/pequilatero?lang=en" target="_blank">  <i class="fa fa-twitter ico-social"></i></a>
                        </div>
                        <div style="float: left;margin-left:14px;">
                            <a href="https://www.facebook.com/promotoraequilatero/" target="_blank">  <i class="fa fa-facebook ico-social"></i></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-t-lg m-b-lg" style="text-align: right">
                <span style="color:#FFF !important"><strong>&copy; 2017 Equilatero</strong></span>
            </div>
        </div>
    </div>
</section>

