<div style="margin-top: 140px">
<div class="container">
    <div class="row wow fadeIn">
        <div class="col-md-12">
            <h2>TERMINOS Y CONDICIONES: </h2>

            <h3>POLíTICA DE TRATAMIENTO DATOS PERSONALES </h3>
            <p style="text-align: justify">
Dando cumplimiento a lo establecido en la Ley 1581 de 2012 y al Decreto 1377 de 2013, nos permitimos informar a nuestros clientes, proveedores, trabajadores y público en general, Titulares1 de los Datos Personales que se encuentran incluidos en las bases de datos de la Compañía y la cual ha sido recolectada en desarrollo de su objeto social, con ocasión de la compra o venta de productos y servicios, o a través de actividades de mercadeo y vinculación laboral realizadas por la compañía, en medios electrónicos, físicos o redes sociales, lo siguiente: 
            </p>
<br>
<p style="text-align: justify">
La presente política aplica a las siguientes sociedades: Promotora Equilátero S.A.S., Promotora Américas 68 S.A.S, Milenio 2012 S.A.S, Inversiones Siempre Verde S.A.S., Promotora Paseo Madero S.A.S. e Inversiones SSGP S.A.S. 
</p>
<br>
<p style="text-align: justify">
    Se tendrá en cuenta que los términos señalados a lo largo del documento tendrán los siguientes significados, los cuales fueron tomados de la Ley 1581 de 2012 y del Decreto 1377 de 2013:<br><br> 
<b>a) Autorización: </b><br>Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales;<br><br> 
b) Aviso de privacidad:<br> Comunicación verbal o escrita generada por el Responsable dirigida al Titular para el Tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las políticas de Tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades del Tratamiento que se pretende dar a los datos personales;<br><br> 
c) Base de Datos:<br> Conjunto organizado de datos personales que sea objeto de Tratamiento;<br><br> 
d) Dato personal:<br> Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables; Ciertos datos personales hacen parte de los denominados “datos públicos”, dentro de los cuales se encuentran aquellos incluidos en el Registros Civil.<br> <br> 
e) Datos sensibles:<br> se entiende por datos sensibles aquellos que afectan la intimidad del Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual y los datos biométricos.<br><br> 
</p>
        </div>
    </div>
</div>
</div>
