<div style="margin-top: 140px" ng-init="vm.getProyecto();">
    <div class="container wow fadeIn">
        <div class="row content-proyecto-title" >
            <div class="col-md-6 col-xs-8 " style="border:0; height: auto;background-image: none;font-family: 'MrEavesBold'">
                <h2>{{vm.proyecto.informacion_basica.nombre}}</h2>
                <span style="font-size: 16px;">{{vm.proyecto.informacion_basica.nombreTipoProyecto}}</span><br>
                <span style="font-size: 16px;">{{vm.proyecto.informacion_basica.direccion}}</span><br>
                <span style="font-size: 16px;">{{vm.proyecto.informacion_basica.nombreMunicipio}}, {{vm.proyecto.informacion_basica.anio}}</span>
            </div>
            <div class="col-md-6 col-xs-4" style="text-align: right">
                <img src="{{vm.proyecto.informacion_basica.logo_url}}" style="width:100px">
            </div>
        </div>
        <br>
        <div class="row" ng-if="vm.proyecto.proyecto.galeria == 1">
            <div class="col-lg-12">
                 <div id="content-descripcion-galeria"  ng-if="vm.proyecto.informacion_basica.descripcion_destacada == null && vm.proyecto.informacion_basica.dominio !== null " style="background-color:transparent !important;">
                            <div style="width: 100%; text-align: center;">
                              <a href="{{vm.proyecto.informacion_basica.dominio}}" target="_blank" class="btn btn-warning"  ng-if="vm.proyecto.proyecto.realizado == 0">IR A PROYECTO</a>
                            </div>
                </div>
              
              <div id="content-descripcion-galeria"  ng-if="vm.proyecto.informacion_basica.descripcion_destacada !== null ">
                               <hr>
                          {{vm.proyecto.informacion_basica.descripcion_destacada}}
                          
                            <div style="width: 100%; text-align: center;margin-top: 10px;">
                              <a href="{{vm.proyecto.informacion_basica.dominio}}" target="_blank" class="btn btn-warning"  ng-if="vm.proyecto.proyecto.realizado == 0 && vm.proyecto.informacion_basica.dominio !== null ">IR A PROYECTO</a>
                            </div>
               </div>
                <div  id="btn-page-mobile">
                   <a href="{{vm.proyecto.informacion_basica.dominio}}" target="_blank" class="btn btn-warning"  ng-if="vm.proyecto.proyecto.realizado == 0 && vm.proyecto.informacion_basica.dominio !== null " style="margin-left: -20px;">IR A PROYECTO</a>
                </div>
                
                <div id="slider" class="flexslider">
                <ul class="slides">
                      
                    <li ng-repeat="i in vm.proyecto.galeria">
                       <img src="{{i.galeria_url}}" style="width: 100%"/>
                        
                    </li>
                </ul>
              </div>
              <div id="carousel" class="flexslider">
                <ul class="slides">
                    <li ng-repeat="i in vm.proyecto.galeria">
                       <img src="{{i.galeria_url}}" style="height: 120px;"/>
                    </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="spacer" style="height: 20px;"></div>
        <div class="row" >
            <div class="col-lg-12" style="text-align: center">
                <h2>DESCRIPCIÓN</h2>
                <div>
                    <p style="font-size:18px;">{{vm.proyecto.informacion_basica.descripcion}}</p>
                </div>
            </div>
        </div>
        <div ng-if="vm.proyecto.proyecto.realizado == 0" >
        <div class="spacer" style="height: 20px;"></div>
        <div class="row" ng-if="vm.proyecto.proyecto.planos == 1">
            <div class="col-lg-12" style="text-align: center">
                <h2>PLANOS</h2>
                <div class="spacer" style="height: 20px;"></div>
                <div class="slider-planos">
                 <div class="flexslider">
                         <ul class="slides">
                            <li ng-repeat="i in vm.proyecto.planos">
                                <div class="row" style="text-align: left">
                                    <div class="col-md-6 col-xs-12">
                                        <img src="{{i.url_plano}}" style="height:400px;">
                                    </div>
                                    <div class="col-md-6 col-xs-12 content-plano">
                                        <div class="title-plano">
                                            <h1>{{i.titulo}}</h1>
                                        </div>
                                       
                                         <p><strong>Tipo:</strong> {{i.nombreTipoPlano}}</p>
                                         <p>Desde: {{i.valor_desde}}</p>
                                         <p>Áreal balcón: {{i.area_balcon}} M<sup>2</sup></p>
                                         <p>Área construida desde: {{i.area_construida}} M<sup>2</sup></p>
                                         <p>Área privada desde: {{i.area_privada}} M<sup>2</sup></p>
                                         <p>Estrato: {{i.estrado}}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer" style="height: 20px;"></div>
       
        <div class="row" ng-if="vm.proyecto.informacion_basica.brochure !== null ">
            <div class="col-md-6 col-xs-6" style="text-align: right;margin-top: 10px;">
                <a href="javascript:;" class="btn btn-warning" ui-sref="app.cotizacion"> SOLICITAR COTIZACIÓN</a>
            </div>

            <div class="col-md-6 col-xs-6" style="text-align: left;margin-top: 10px;">
                <a href="{{vm.proyecto.informacion_basica.brochure}}" target="_blank" class="btn btn-warning"> VER BROCHURE</a>
            </div>
        </div>
                   
        <div class="row" ng-if="vm.proyecto.informacion_basica.brochure == null ">
            <div class="col-xs-12" style="text-align: center">
                <a href="javascript:;" class="btn btn-warning" ui-sref="app.cotizacion"> SOLICITAR COTIZACIÓN</a>
            </div>
        </div>
        </div>
        <div class="spacer" style="height: 20px;"></div>
        <div class="row" ng-if="vm.proyecto.proyecto.ubicacion_geografica == 1">
            <div class="col-lg-12" style="text-align: center">
                <h2>UBICACIÓN</h2>
                <div id="map" style="height: 400px;">
                    <div class="jvectormap-container" style="background-color: transparent;">

                            </div>
                        </div>
            </div>
        </div>
        <div class="spacer" style="height: 20px;"></div>
         <div class="row" ng-if="vm.proyecto.proyecto.zonas_comunes == 1">
            <div class="col-lg-12" style="text-align: center">
                <h2>ZONAS COMUNES</h2>
                <div class="row">
                    <div class="col-md-2 col-xs-6" ng-repeat="i in vm.proyecto.zonas" style="height:140px;">
                        <img src="{{i.url}}" style="width: 100px;height: 100px">
                        <h3>{{i.nombre}}</h3>
                    </div>
                </div>
            </div>
        </div>
         <div class="spacer" style="height: 20px;"></div>
        <div ng-if="vm.proyecto.proyecto.realizado == 0 && vm.proyecto.proyecto.aviso_legal == 1" >
            <div class="row">
                <div class="col-lg-12">
                    <div style="width:100%; background-color: #1B7033;padding: 10px;">
                        <p style="color:#FFF !important;text-align: left"><strong>AVISO LEGAL: {{vm.proyecto.aviso_legal[0].text}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

