<div class="row" ng-init="vm.getProjects()">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div class="col-lg-8">
                                    <h5>Listado de proyectos</h5>
                                </div>
                                <div class="col-lg-4" style="text-align: right">
                                    <a href="javascript:;"  ui-sref="app.new_project"><i class="fa fa-plus-square"></i> Nuevo proyecto</a>
                                </div>
                            </div>
                            <div class="ibox-content"> 
                                
                                    <table class="table table-striped table-bordered table-hover table-responsive" id="editable_projects">
                                        <thead>
                                        <tr>

                                            <th style="width:10px;">#</th>
                                            <th>Proyecto </th>
                                            <th>Tipo</th>
                                            <th>Año</th>
                                            <th>Dirreción</th>
                                            <th style="width:5%">Destacado</th>
                                            <th style="width:5%">Banner</th>
                                            <th style="width:5%">Realizado</th>
                                            <th style="width:5%">Estado</th>
                                            <th style="width:5%">Opciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="i in vm.projects">
                                                <td>{{i.proyecto.id}}</td>
                                                <td>{{i.informacion_basica.nombre}}</td>
                                                <td>{{i.informacion_basica.nombreTipoProyecto}}</td>
                                                <td>{{i.informacion_basica.anio}}</td>
                                                <td>{{i.informacion_basica.direccion}}</td>
                                                
                                                <td style="text-align: center">
                                                  <a href="javascript:;" title="Click de destacados" ng-if="i.proyecto.destacado == 1" ng-click="vm.updateProject('destacado',i.proyecto,0);"><i class="fa fa-star text-success icon"></i></a>
                                                  <a href="javascript:;" title="Click para agregar a destacados" ng-if="i.proyecto.destacado == 0" ng-click="vm.updateProject('destacado',i.proyecto,1);"><i class="fa fa-star-o text-danger icon"></i></a>
                                                </td>
                                                <td style="text-align: center">
                                                  <a href="javascript:;" title="Click para quitar del banner" ng-if="i.proyecto.banner_show == 1" ng-click="vm.updateProject('banner',i.proyecto,0);"><i class="fa fa-picture-o text-success icon"></i></a>
                                                  <a href="javascript:;" title="Click para publicar en el banner" ng-if="i.proyecto.banner_show == 0" ng-click="vm.updateProject('banner',i.proyecto,1);"><i class="fa fa-picture-o text-danger icon"></i></a>
                                                </td>
                                                <td style="text-align: center">
                                                  <a href="javascript:;" title="Click para marcar como actual" ng-if="i.proyecto.realizado == 1" ng-click="vm.updateProject('realizado',i.proyecto,0);"><i class="fa fa-check-square text-success icon"></i></a>
                                                  <a href="javascript:;" title="Click para marcar como realizado" ng-if="i.proyecto.realizado== 0" ng-click="vm.updateProject('realizado',i.proyecto,1);"><i class="fa fa-check-square-o text-danger icon"></i></a>
                                                </td>
                                                <td>
                                                    <a href="javascript:;" title="Click para activar" ng-if="i.proyecto.estado == 'INACTIVO'" ng-click="vm.updateProject('estado',i.proyecto,'ACTIVO');"><span class="badge badge-danger">{{i.proyecto.estado}}</span></a>
                                                    <a href="javascript:;" title="Click para desactivar" ng-if="i.proyecto.estado == 'ACTIVO'" ng-click="vm.updateProject('estado',i.proyecto,'INACTIVO');"><span class="badge badge-primary">{{i.proyecto.estado}}</span></a>
                                                </td>
                                                <td  style="text-align: center;">
                                                    <a href="javascript:;" ng-click=" vm.viewProject(i)" title="Gestionar proyecto"><i class="fa fa-eye icon" style="color:#226B29;"></i>
                                                    <a href="javascript:;" ng-click=" vm.deleteProject(i.proyecto.id)" title="Eliminar Proyecto"><i class="fa fa-trash icon" style="color:#ED5565;"></i></a>
                                                    </a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>

                </div>