  <div id="wrapper">
        <div id="page-wrapper">
        <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top" role="navigation" ng-controller="MenuController as menu">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="javascript:;"  ui-sref="app.home" class="navbar-brand">Equilatero</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a aria-expanded="false" role="button" href="javascript:;"  ui-sref="app.home">Administrador de proyectos</a>
                    </li>
                    <li>
                        <a aria-expanded="false" role="button" href="javascript:;"  ui-sref="app.compromise">Compromiso social</a>
                    </li>
                    <li>
                        <a aria-expanded="false" role="button" href="javascript:;" ui-sref="app.zone" class="dropdown-toggle" data-toggle="dropdown"> Zonas comunes <!--<span class="caret"></span>--></a>
                    </li>
                    <li>
                        <a aria-expanded="false" role="button" href="javascript:;" ui-sref=" app.configuracion" class="dropdown-toggle" data-toggle="dropdown"> Configuración</a>
                    </li>
                   
                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="javascript:;" ng-click="menu.logout()">
                            <i class="fa fa-sign-out"></i> Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <div class="wrapper wrapper-content">
             <div class="animated fadeInRight" ui-view="" class="container" id="container">

            </div>
        </div>
        <div class="footer" ng-controller="HomeController as vm">
            <div class="pull-right">
                andyyairb@gmail.com
            </div>
            <div>
                <strong>Copyright</strong> Equilatero &copy; 2017
            </div>
        </div>

        </div>
        </div>
